.columnСard {
  width: var(--card-size);
  height: var(--card-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: var(--card-border-radius);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
}

.columnСard.selected {
  box-shadow: 0 0 1px 2px rgb(40, 189, 40);
}