html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

:root {
  --app-width: 1080px;
  --card-border-radius: 3px;
  --card-size: 60px;

  /* colors */
  --card-type-color: rgb(247, 198, 152);
  --card-color: rgb(194, 216, 173);
}